@import url(root.css);
@import url(header.css);
@import url(sections/section-i-design.css);
@import url(sections/section-ii-design.css);
@import url(sections/section-iii-design.css);
@import url(sections/section-iv-design.css);
@import url(footer.css);
@import url(card.css);
@import url(media/media-barrel.css);

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: var(--default-font-color);
    background-color: var(--lighter-background-color);
}

header {
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    flex-direction: row;
    padding: 2vh 0 2vh 1vw;
    max-width: 100%;
    background-color: var(--darker-background-color);
    align-items: center;
}

section {
    padding: 10vh 10vw 0vh 10vw;
    display: flex;
    flex-direction: column;
}

section h1 {
    flex: 1;
    border-bottom: 0.1em solid var(--default-font-color);
    padding: 0.4vh 0vw 0.4vh 1vw;
    font-size: var(--primary-header-font-size);
}

section .content-container{
    flex: 1;
    display: flex;
    margin: 2vh 10vw 2vh 10vw;
    max-width: 100vw;
}