@import url(design.css);
@import url(root.css);

/* ----- HEADER ELEMENT ----- */

.menu-title {
    flex: 1;
    max-width: 20vw;
}

.menu-title a {
    font-size: var(--primary-header-font-size);
    text-decoration: none;
    color: var(--default-font-color);
    font-weight: bold;
}

.menu-navigation {
    flex: 1;
    max-width: 80vw;
}

.menu-navigation ul {
    display: flex;
    list-style-type: none;
    margin: 0 1vw;
    justify-content: flex-end;
}

.menu-navigation ul li {
    float: right;
    margin-left: 0.4vw; 
}

.menu-navigation ul li a {
    max-width: 25vw;
    padding: 1.5vh 4vw;
    text-align: center;
    text-decoration: none;
    color: var(--default-font-color);
    background-color: var(--primary-background-color);
    cursor: pointer;
}

.menu-navigation ul li a:hover {
    background-color: rgb(30,30,30);
}