:root {
    /*Font sizes*/
    --default-font-size: 1rem;
    --primary-header-font-size: 2.6rem;
    --second-header-font-size: 2.2rem;
    --third-header-font-size: 1.8rem;
    --subcontent-font-size: 0.8rem;

    /*Font colors*/
    --default-font-color: rgb(220,220,220);
    --subcontent-font-color: rgb(180,180,180);

    /*Background Colors*/
    --darker-background-color: rgb(10,10,10);
    --primary-background-color: rgb(20,20,20);
    --secondary-background-color: rgb(40,40,40);
    --lighter-background-color: rgb(60,60,60);

    /*Utility Variables for Cards*/
    --card-background-color: rgb(25,25,25);
    --card-hover-desc-background-color: rgba(25,25,25,0.8);
    --card-font-color: rgb(220,220,220);
    --card-button-font-color: rgb(200,200,200);
    --card-button-background-color: rgb(0, 95, 240);
    --card-button-hover-background-color: rgb(0,25,160);
}