html {
    scroll-behavior: smooth;
    scrollbar-color: grey;
}

* {
    box-sizing: border-box;
    color: rgb(200, 200, 200);
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(50, 50 ,50, 1);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

/*--- STYLE: MENU BAR ---*/

.menu-bar {
    flex: 1;
    position: fixed;
    background-color: black;
    padding: 25px 10px 3px 10px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.6);
    z-index: 1000;
}

.menu-title {
    float: left;
    padding-top: 10px;
}

.menu-title a {
    text-decoration: none;
    text-align: center;
    border: 1px solid rgb(5,5,5);
    border-radius: 15px;
    background-color: rgb(5,5,5);
    padding: 10px 100px 10px 25px;
    font-size: 1.6rem;
    font-weight: bold;
}
.menu-option {
    float: right;
}

.menu-option ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.menu-option ul li {
    flex: 1;
}

.menu-option ul li a {
    display: flex;
    text-decoration: none;
    padding: 0.8em;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.menu-option ul li a:hover {
    background-color: rgb(40, 40, 40);
}


/*--- STYLE: MAIN CONTENT ---*/
main {
    flex: 1;
    padding: 10% 0%;
}   

main section {
    padding: 10% 15%;
}

.header-title-section {
    padding: 2%;
    margin-bottom: 5%;
    font-size: 2rem;
    border-bottom: 5px solid rgb(200, 200, 200);
    width: 100%;
}

/*--- ABOUT ME ---*/

#about-me {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#about-me h1 {
    flex: 1;
    width: 100%;
}

#about-me .about-me-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.author-info-container {
    flex: 1;
    padding: 15% 5%;
}

.author-info-container .author-name {
    font-size: 2.5rem;
    text-decoration: underline rgb(150, 150, 150);
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}

.author-info-container .author-degree {
    font-size: 1.3rem;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}

.author-info-container .author-job {
    font-size: 1rem;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}
/*--- PROFILE CARD ---*/
.profile-card {
    flex: 1;
    position: relative;
    width: 480px;
    height: 720px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.8);
    cursor: pointer;
    z-index: 1;
}

.profile-card img {
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    object-fit: cover;

}

.profile-card .overlay-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 3s ease;
    display: flex;
    text-align: justify;
    padding: 10%;
    margin-top: 40%;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.profile-card:hover .overlay-container {
    opacity: 1;
}

.author-bio {
    font-size: 1.2rem;
}

/*--- EDUCATION BACKGROUND SECTION ---*/
#education-background {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
}

#education-background h1, #education-background article {
    flex: 1;
}

.i-education-background {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: rgb(200,200,200);
    margin: 5% 15%;
    border: 5px solid rgb(15,15,15);
    border-radius: 25px;
    align-items: center;
}

.school-img-container {
    flex: 1;
    position: relative;
    min-width: 480px;
    min-height: 720px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 5px 25px rgba(0,0,0,0.8);
    cursor: pointer;
    z-index: 1;
}

.school-img-container img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    display: block;
}

.school-img-container .overlay-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 3s ease;
    display: flex;
    text-align: justify;
    padding: 10%;
    margin-top: 70%;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.school-img-container:hover .overlay-container {
    opacity: 1;
}

.school-desc {
    font-size: 1.2rem;
}

.course-degree-container {
    flex: 1;
    padding: 5%;
}

.course-degree-container h2 {
    font-size: 2rem;
    color: rgb(0, 112, 186);
}

.course-degree-container h4 {
    font-size: 1rem;
    color: rgb(100, 100, 100);
}

.course-degree-container p {
    font-size: 1rem;
    color: rgb(40, 40, 40);
}

footer {
    flex: 1;
    text-align: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 50px;
    font-size: 0.8rem;
}

@media (max-width: 900px) {
    .menu-bar{
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
    }
    .menu-title, .menu-option{
        flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
    }

    .menu-title {
        padding-bottom: 1%;
    }
 
    .menu-option ul {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }

    .menu-option ul li {
        flex: 1;
    }

    .menu-option ul li a {
        font-size: 1rem;
    }

    .header-title-section {
        font-size: 1.5rem;
        border-bottom: 2px solid;
    }
    
    main {
        padding: 20% 0;
    }

    #about-me .about-me-container{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    
    .about-me-container .profile-card{
        flex: 1;
        width: 100%;  
    }

    .overlay-container {
        opacity: 3;
    }
}
