html {
    scroll-behavior: smooth;
    scrollbar-color: grey;
}

* {
    box-sizing: border-box;
    color: rgb(200, 200, 200);
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(50, 50 ,50, 1);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    clear: both;
}

/*--- STYLE: MENU BAR ---*/

.menu-bar {
    flex: 1;
    position: fixed;
    background-color: black;
    padding: 25px 10px 3px 10px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.6);
}

.menu-bar .menu-title {
    float: left;
    padding-top: 10px;
}

.menu-title a {
    text-decoration: none;
    text-align: center;
    border: 1px solid rgb(5,5,5);
    border-radius: 15px;
    background-color: rgb(5,5,5);
    padding: 10px 100px 10px 25px;
    font-size: 1.8rem;
    font-weight: bold;
}

.menu-bar .menu-option {
    float: right;
    width: 800px;
    margin-left: auto;
}

.menu-option ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.menu-option ul li {
    flex: 1;
}

.menu-option ul li a {
    display: flex;
    text-decoration: none;
    margin: 1px;
    padding: 0.8em;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    text-align: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.menu-option ul li a:hover {
    background-color: rgb(40, 40, 40);
}


/*--- STYLE: MAIN CONTENT ---*/
main {
    flex: 1;
    clear: both;
    padding: 10% 0%;
}   

main section {
    padding: 10% 20%;
}

main .header-title-section {
    padding: 2%;
    margin-bottom: 5%;
    font-size: 2.1rem;
    background-color: rgb(5,5,5);
    width: 100%;
}

#about-me {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content-container {
    flex: 1;
    padding: 15% 5%;
}

.content-container .author-name {
    font-size: 3rem;
    text-decoration: underline rgb(150, 150, 150);
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}

.content-container .author-degree {
    font-size: 1.5rem;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}

.content-container .author-job {
    font-size: 1rem;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}

.summary-container {
    flex: 1;
    background: black url("../assets/pic-placeholder-avatar.jpeg") no-repeat center center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 720px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    background-size: cover;
}

.summary-container p {
    display: none;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: justify;
    font-size: 1.2rem;
    padding: 10%;
    margin: 0;
    top: calc(100% - 455px);
}

.summary-container:hover p {
    display: block;
}

footer {
    flex: 1;
    text-align: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 50px;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    
}