html {
    scroll-behavior: smooth;
    scrollbar-color: grey;
}

* {
    box-sizing: border-box;
    color: rgb(200, 200, 200);
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(50, 50 ,50, 1);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

/*--- STYLE: MENU BAR ---*/

.menu-bar {
    flex: 1;
    position: fixed;
    background-color: black;
    padding: 25px 10px 3px 10px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.6);
}

.menu-title {
    float: left;
    padding-top: 10px;
}

.menu-title a {
    text-decoration: none;
    text-align: center;
    border: 1px solid rgb(5,5,5);
    border-radius: 15px;
    background-color: rgb(5,5,5);
    padding: 10px 100px 10px 25px;
    font-size: 1.6rem;
    font-weight: bold;
}
.menu-option {
    float: right;
}

.menu-option ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.menu-option ul li {
    flex: 1;
}

.menu-option ul li a {
    display: flex;
    text-decoration: none;
    padding: 0.8em;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.menu-option ul li a:hover {
    background-color: rgb(40, 40, 40);
}


/*--- STYLE: MAIN CONTENT ---*/
main {
    flex: 1;
    padding: 10% 0%;
}   

main section {
    padding: 10% 15%;
}

.header-title-section {
    padding: 2%;
    margin-bottom: 5%;
    font-size: 2rem;
    border-bottom: 5px solid rgb(200, 200, 200);
    width: 100%;
}

/*--- ABOUT ME ---*/

#about-me {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#about-me h1 {
    flex: 1;
    width: 100%;
}

#about-me .about-me-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content-container {
    flex: 1;
    padding: 15% 5%;
}

.content-container .author-name {
    font-size: 2.5rem;
    text-decoration: underline rgb(150, 150, 150);
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}

.content-container .author-degree {
    font-size: 1.3rem;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}

.content-container .author-job {
    font-size: 1rem;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}

.summary-container {
    display: block;
    flex: 1;
    background: black url("../assets/avatar.jpg") no-repeat center center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 720px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    background-size: cover;
}

.summary-container p {
    display: block;
    opacity: 0;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: justify;
    font-size: 100%;
    padding: 10%;
    margin-top: 60%;
    height: 60%;
    width: 100%;
    overflow: hidden;
    transition: opacity 1s ease;
}

.summary-container:hover p {
    opacity: 3;
}

/*--- EDUCATION BACKGROUND SECTION ---*/
#education-background {
    display: flex;
    flex-direction: column;
    background-color: black;
}

#education-background h1, #education-background .education-content-container {
    flex: 1;
}

.education-content-container {
    display: flex;
    flex-direction: column;
}

.i-education-background, .i-degree-attainment {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.i-education-background {
    border: 1px solid rgba(0,0,0,0);
    border-radius: 25px;
    background: black url("../assets/hcc-picture.jpg") no-repeat center center;
    background-size: cover;
    height: 660px;
    width: 1080px;
    padding: 0;
    margin: 0;
}

.i-education-background .background-content {
    width: 40%;
    padding: 10% 5%;
    margin-left: 30%;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.8);
}





footer {
    flex: 1;
    text-align: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 50px;
    font-size: 0.8rem;
}

@media (max-width: 800px) {
    .menu-bar{
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
    }
    .menu-title, .menu-option{
        flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
    }

    .menu-title {
        padding-bottom: 1%;
    }
 
    .menu-option ul {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }

    .menu-option ul li {
        flex: 1;
    }

    .menu-option ul li a {
        font-size: 1rem;
    }

    .header-title-section {
        font-size: 1.5rem;
        border-bottom: 2px solid;
    }
    
    main {
        padding: 20% 0;
    }

    #about-me .about-me-container{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    
    .about-me-container .summary-container{
        flex: 1;
        width: 100%;
        min-height: 720px;     
    }

    .about-me-container .summary-container p{
        position:static;
        opacity: 3;
        margin-top: 100%;  
    }
}
