html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(60,60,60);
}

header {
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    padding: 25px;
    width: 100%;
    background-color: rgb(0,0,0);
    align-items: center;
}

.menu-title {
    flex: 1;
    font-size: 24px;
    text-decoration: none;
    color: rgb(220,220,220);
    width: 60%;
}

.menu-title a {
    font-size: 36px;
    text-decoration: none;
    color: rgb(220,220,220);
    font-weight: bold;
}

.menu-navigation {
    flex: 1;
    align-content: center;
    width: 40%;
}

.menu-navigation ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.menu-navigation ul li {
    float: right;
}

.menu-navigation ul li a {
    padding: 25px 50px;
    text-align: center;
    text-decoration: none;
    color: rgb(220,220,220);
    background-color: rgb(25,25,25);
    margin: 5px;
}

main {
    padding: 250px 50px;
}

footer {
    background-color: rgb(0,0,0);
    color: rgb(220,220,220);
    align-content: center;
    text-align: center;
    padding: 100px;
}