html {
    scroll-behavior: smooth;
}

:root {
    /*Font sizes*/
    --default-font-size: 1rem;
    --primary-header-font-size: 2.6rem;
    --second-header-font-size: 2.2rem;
    --third-header-font-size: 1.8rem;
    --subcontent-font-size: 0.8rem;

    /*Font colors*/
    --default-font-color: rgb(220,220,220);
    --subcontent-font-color: rgb(180,180,180);

    /*Background Colors*/
    --darker-background-color: rgb(10,10,10);
    --primary-background-color: rgb(20,20,20);
    --secondary-background-color: rgb(40,40,40);
    --lighter-background-color: rgb(60,60,60);

    /*Utility Variables for Cards*/
    --card-background-color: rgba(30, 30, 30, 0.8);
    --card-font-color: rgb(220,220,220);
    --card-button-font-color: rgb(210,210,210);
    --card-button-background-color: rgb(0, 95, 240);
    --card-button-hover-background-color: rgb(50,50,50);
}

body {
    overflow: auto;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: var(--default-font-color);
    background-color: var(--lighter-background-color);
}

header {
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    flex-direction: row;
    padding: 2vh;
    max-width: 100%;
    background-color: var(--darker-background-color);
    align-items: center;
}

.menu-title {
    flex: 1;
    max-width: 20%;
}

.menu-title a {
    font-size: var(--primary-header-font-size);
    text-decoration: none;
    color: var(--default-font-color);
    font-weight: bold;
}

.menu-navigation {
    flex: 1;
    background-color: red;
    max-width: 80%;
}

.menu-navigation ul {
    display: flex;
    list-style-type: none;
    margin: 0em 2em;
    background-color: blue;
    justify-content: flex-end;
}

.menu-navigation ul li {
    float: right;
    margin-left: 0.5em; 
}

.menu-navigation ul li a {
    max-width: 25%;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    color: var(--default-font-color);
    background-color: var(--primary-background-color);
    cursor: pointer;
}

.menu-navigation ul li a:hover {
    background-color: rgb(30,30,30);
}

section {
    margin: 1em 0em 1em 0em;
    padding: 6em;
    display: flex;
    flex-direction: column;
}

section h1 {
    flex: 1;
    border-bottom: 0.1em solid var(--default-font-color);
    padding: 0.1em 0em 0.1em 0.2em;
    font-size: var(--primary-header-font-size);
}

section .content-container{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2em 10%;
    max-width: 100%;
}

.content-container .personal-thoughts {
    flex: 1;
    max-width: 50%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: flex-start;
}

.personal-thoughts p{
    flex: 1;
    font-size: var(--default-font-size);
}

.personal-thoughts h6{
    flex: 1;
    font-size: var(--subheader-font-size);
    padding: 0;
    margin: 0;
}

.card {
    height: 720px;
    max-width: 480px;
    border-radius: 25px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.card img {
    background-color: rgb(40,40,40);
    width: 100%;
    height: 100%;
    max-height: 720px;
    max-width: 480px;
    display: block;
    align-items: center;
    border-radius: 25px;
    object-fit: cover;
}

.card-details {
    position: absolute;
    background-color: var(--card-background-color);
    color: var(--card-font-color);
    padding: 2em 1em 5em 1em;
    opacity: 0;
    z-index: 100;
    transition: opacity 1s ease-in-out;
    bottom: 0%;
    text-align: justify;
}

.card-button {
    position: absolute;
    bottom: 3%;
    right: 30%;
    left: 30%;
    background-color: var(--card-button-background-color);
    padding: 1em;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


.card-button a{
    color: var(--card-button-font-color);
    font-size: var(--default-font-size);
    text-decoration: none;
}

.card:hover .card-details, .card:hover .card-button {
    opacity: 1;  
}

.hover-tooltip {
    position: absolute;
    bottom: 1%;
    right: 25%;
    left: 25%;
    text-align: center;
    justify-content: center;
    font-size: var(--subcontent-font-size);
    color: var(--subcontent-font-color);
    background-color: var(--darker-background-color);
    padding: 0.2em;
    border-radius: 5px;
    opacity: 0.6;
}

.personal-thoughts .card-details .view-resume a{
    text-decoration: none;
    color: var(--card-button-font-color);
}

.content-container .personal-info {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5em;
}

.personal-info p {
    flex: 1;
    text-align: right;
}

.personal-info .name {
    font-weight: bold;
    font-size: var(--second-header-font-size);
    padding: 0;
    margin: 0;
}

.personal-info .degree,
.personal-info .profession 
{
    font-size: var(--default-font-size);
    font-style: italic;
    padding: 0.2em;
    margin: 0.2em;
}

.content-container .experience-card {
    flex: 1;
    background-color: var(--card-background-color);
    border-radius: 20px;
    padding: 2em;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row;
}

.img-container {
    flex: 0;
    width: 360px;
    height: 480px;
    position: relative;
}

.img-container #a2k-logo {
    width: 100%;
    max-width: 175px;
    height: 100%;
    max-height: 175px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 2%;
    left: 48%;
    z-index: 1;
}

.img-container #a2k-ojt-img {
    object-fit: cover;
    border-radius: 5%;
}

.experience-card .experience-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.experience-details .work-location{
    flex: 0;
    font-size: var(--primary-header-font-size);
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.experience-details .work-position{
    flex: 0;
    font-size: var(--third-header-font-size);
    margin: 0;
    padding: 0;
    border-bottom: 2px solid var(--default-font-color);
}

.experience-details .work-duration {
    flex: 0;
    font-size: var(--subcontent-font-size);
    font-style: italic;
    margin: 0.2em 0em 0.2em 0em;
    padding: 0.2em 0em 0.2em 0em;
}

.summary,
.roles-responsibilities {
    flex: 0;
    margin: 1em 0em 0.1em 0em;
}

.content {
    text-align: justify;
    font-size: var(--default-font-size);
}




footer {
    background-color: var(--darker-background-color);
    color: var(--default-font-color);
    align-content: center;
    text-align: center;
    padding: 100px;
}

@media screen {
    
}