html {
    scroll-behavior: smooth;
}

:root {
    /*Font sizes*/
    --default-font-size: 1rem;
    --primary-header-font-size: 2.6rem;
    --second-header-font-size: 2.2rem;
    --third-header-font-size: 1.8rem;
    --subcontent-font-size: 0.8rem;

    /*Font colors*/
    --default-font-color: rgb(220,220,220);
    --subcontent-font-color: rgb(180,180,180);

    /*Background Colors*/
    --darker-background-color: rgb(10,10,10);
    --primary-background-color: rgb(20,20,20);
    --secondary-background-color: rgb(40,40,40);
    --lighter-background-color: rgb(60,60,60);

    /*Utility Variables for Cards*/
    --card-background-color: rgba(25,25,25,0.8);
    --card-font-color: rgb(220,220,220);
    --card-button-font-color: rgb(210,210,210);
    --card-button-background-color: rgb(0, 95, 240);
    --card-button-hover-background-color: rgb(0,5,180);
}

body {
    overflow: auto;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: var(--default-font-color);
    background-color: var(--lighter-background-color);
}

header {
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    flex-direction: row;
    padding: 2vh;
    max-width: 100%;
    background-color: var(--darker-background-color);
    align-items: center;
}

/* --- CARD STYLESHEETS --- */

.card {
    max-height: 80vh;
    height: 75vh;
    min-height: 60vh;
    max-width: 25vw;
    width: 25vw;
    min-width: 20vw;
    border-radius: 25px;
    box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-sizing: border-box;
}

.card img {
    background-color: rgb(40,40,40);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    object-fit: cover;
}

.card-details {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--card-background-color);
    color: var(--card-font-color);
    padding: 2em 1em 2em 1em;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: justify;
    box-sizing: border-box;
    overflow: hidden;
    overflow-x: auto;
    z-index: 10;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.card-button {  
    background-color: var(--card-button-background-color);
    color: var(--default-font-color);
    padding: 1em;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    margin: 5% 30% 0 30%;
}

.card:hover .card-details{
    opacity: 1;  
}

.card-button:hover {
    background-color: var(--card-button-hover-background-color);
}

/* ----- PAGE STYLESHEETS ----- */

.menu-title {
    flex: 1;
    max-width: 20%;
}

.menu-title a {
    font-size: var(--primary-header-font-size);
    text-decoration: none;
    color: var(--default-font-color);
    font-weight: bold;
}

.menu-navigation {
    flex: 1;
    max-width: 80%;
}

.menu-navigation ul {
    display: flex;
    list-style-type: none;
    margin: 0em 2em;
    justify-content: flex-end;
}

.menu-navigation ul li {
    float: right;
    margin-left: 0.5em; 
}

.menu-navigation ul li a {
    max-width: 25%;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    color: var(--default-font-color);
    background-color: var(--primary-background-color);
    cursor: pointer;
}

.menu-navigation ul li a:hover {
    background-color: rgb(30,30,30);
}

section {
    margin: 1em 0em 1em 0em;
    padding: 6em;
    display: flex;
    flex-direction: column;
}

section h1 {
    flex: 1;
    border-bottom: 0.1em solid var(--default-font-color);
    padding: 0.1em 0em 0.1em 0.2em;
    font-size: var(--primary-header-font-size);
}

section .content-container{
    flex: 1;
    display: flex;
    margin: 2em 10%;
    max-width: 100%;
}

#about-me .content-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content-container .personal-thoughts {
    flex: 1;
    max-width: 50%;
    justify-content: flex-start;
    padding: 2em;
    align-items: flex-start;
}

.personal-thoughts p{
    flex: 1;
    font-size: var(--default-font-size);
}

.personal-thoughts h6{
    flex: 1;
    font-size: var(--third-header-font-size);
    padding: 0;
    margin: 0;
}

.hover-tooltip {
    position: absolute;
    bottom: 1%;
    right: 25%;
    left: 25%;
    text-align: center;
    justify-content: center;
    font-size: var(--subcontent-font-size);
    color: var(--subcontent-font-color);
    background-color: var(--darker-background-color);
    padding: 0.2em;
    border-radius: 5px;
    opacity: 0.6;
}

.content-container .personal-info {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5em;
}

.personal-info p {
    flex: 1;
    text-align: right;
}

.personal-info .name {
    font-weight: bold;
    font-size: var(--second-header-font-size);
    padding: 0;
    margin: 0;
}

.personal-info .degree,
.personal-info .profession 
{
    font-size: var(--default-font-size);
    font-style: italic;
    padding: 0.2em;
    margin: 0.2em;
}

.content-container .experience-card {
    flex: 1;
    background-color: var(--primary-background-color);
    border-radius: 25px;
    padding: 1em;
    box-shadow: 5px 10px 25px 20px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    height: auto;
}

.img-container {
    flex: 0;
    width: 360px;
    height: 480px;
    position: relative;
}

.img-container #a2k-logo {
    width: 100%;
    max-width: 175px;
    height: 100%;
    max-height: 175px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 2%;
    left: 48%;
    z-index: 1;
}

.img-container #a2k-ojt-img {
    object-fit: cover;
    border-radius: 25px;
}

.experience-card .experience-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 2.5% 0 2.5%;
}

.experience-details .work-location{
    flex: 0;
    font-size: var(--second-header-font-size);
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.experience-details .work-position{
    flex: 0;
    font-size: var(--third-header-font-size);
    margin: 0;
    padding: 0;
    border-bottom: 2px solid var(--default-font-color);
}

.experience-details .work-duration {
    flex: 0;
    font-size: var(--subcontent-font-size);
    font-style: italic;
    margin: 0.2em 0em 0.2em 0em;
    padding: 0.2em 0em 0.2em 0em;
}

.summary,
.roles-responsibilities {
    flex: 0;
    margin: 1em 0em 0.1em 0em;
}

.content {
    text-align: justify;
    font-size: var(--default-font-size);
}
#my-projects .content-container {
    flex-direction: column;
    align-content: flex-start;
    text-align: justify;
    justify-content: flex-start;
    margin: 1em 0em;
}

.content-container .filter-option {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start center;
    padding: 0 0 0 1em;
    width: 100%;
}
.filter-option p {
    flex: 1;
    font-size: var(--default-font-size);
    padding: 0.5em;
    max-width: 5%;
    font-style: bold;
}

.filter-option .filter-button-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 95%;
}
.filter-button-container button {
    flex: 0 0 8em;
    margin-right: 0.3em;
    padding: 0.5em 0em;
    text-align: center;
    background-color: var(--card-button-background-color);
    border: none;
    color: var(--card-button-font-color);
    cursor: pointer;
    border-radius: 5px;
    font-size: var(--default-font-size);
    transition: background-color 0.5s ease-in-out;
}

.filter-button-container button:hover {
    background-color: var(--card-button-hover-background-color);
}

.project-gallery {
    flex: 1;
    margin: 0em 1.5em;
    gap: 1em; 
    display: flex;     
    flex-direction: row;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior:smooth; 
    anchor-name: --gallery;
    scroll-snap-type: x mandatory;
    max-width: 100%;
}

.project-gallery::-webkit-scrollbar {
    display: none;
}

.project-gallery::scroll-button(right), .project-gallery::scroll-button(left) {
    content: '▶';
    height: 2em;
    width: 2em;
    text-align: center;
    border: none;
    background-color: rgba(0,0,0,0.01);
    color: var(--default-font-color);
    font-size: var(--second-header-font-size);
    font-weight:900;
    cursor: pointer;
    position: fixed;
    position-anchor: --gallery;
    position-area: right center;
    translate: -40%;
}

.project-gallery::scroll-button(left) {
    content: '◀';
    position-area: left center;
    translate: 40%;
}

.project-gallery::scroll-button(right):hover, .project-gallery::scroll-button(left):hover {
    background-color: rgba(0, 0, 0, 0.08);
}
.project-gallery::scroll-button(right):disabled, .project-gallery::scroll-button(left):disabled {
    background-color: rgba(0,0,0,0);
    color: rgba(220,220,220,0.5);
    cursor: default;    
}

.project-gallery .card {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    flex: 0 0 20vw;
    height: 60vh;
    border-radius: 25px;
    box-shadow: none;
}

.project .card-details {    
    white-space: normal;
}

.project .card-details h6 {
    flex: 1 ;
    font-size: var(--subheader-font-size);
}

.project .card-details p {
    flex: 1;
    font-size: var(--default-font-size);
    padding: 0;
    margin: 0;
}

.project .card-button {
    margin: 10% 25% 0 25%;
}

footer {
    background-color: var(--darker-background-color);
    color: var(--default-font-color);
    align-content: center;
    text-align: center;
    padding: 100px;
}



@media screen {
    
}