@import url(../utils/root-media.css);

@media (max-width: 480px) {
    .menu-title {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0.5vh 0 0.5vh 0;
        width: 100%;
        max-width: 100vw;
    }

    .menu-title a {
        font-size: var(--primary-header-font-size);
        text-decoration: none;
        color: var(--default-font-color);
        font-weight: bold;
    }

    .menu-navigation {
        max-width: 100vw;
        width: 100%;
    }

    .menu-navigation ul {
        flex-direction: row;
        gap: 0.2vw;
        margin: 0.5vw;
    }

    .menu-navigation ul li {
        flex: 1;
        float: none;
    }

    .menu-navigation ul li a {
        max-width: 20vw;
        padding: 1vh 6.8vw;
        font-size: var(--default-font-size);
    }
}