@import url(../utils/root-media.css);

@media (max-width: 800px) {
    .menu-title {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0.5vh 0 0.5vh 0;
        width: 90%;
        max-width: 100vw;
    }

    .menu-title a {
        font-size: var(--primary-header-font-size);
        text-decoration: none;
        color: var(--default-font-color);
        font-weight: bold;
    }

    .menu-navigation {
        width: 90%;
        max-width: 100vw;
    }

    .menu-navigation ul {
        margin: 0vh 2.5vw;
        justify-items: center;
        align-items: center;
    }

    .menu-navigation ul li {
        margin-left: 0.3em; 
    }

    .menu-navigation ul li a {
        max-width: 25vw;
        padding: 1.5vh 6vw;
    }
}