@import url(../utils/root-media.css);

@media (max-width: 480px) { 
    header {
        flex-direction: column !important;
        padding: 2vh 0 2vh 1vw !important;
        align-items: start;
        justify-items: start;
    }

    section {
        padding: 15vh 10vw 0vh 10vw !important;
    }

    section h1 {
        padding: 0.4vh 0vw 0.4vh 1vw;
        font-size: var(--primary-header-font-size);
    }

    section .content-container{
        margin: 0.5vh 2vw 0.5vh 2vw !important;
        max-width: 100vw;
    }
}