@import url(root-media.css);

@media (max-width: 500px) {
    .card {
        max-height: 62vh;
        height: 60vh;
        min-height: 58vh;
        max-width: 62vw;
        width: 60vw;
        min-width: 50vw;
        border-radius: 15px;
    }

    .card-details {
        padding: 2vh 1vw 2vh 1vw;
        transition: opacity 1s ease-in-out;
    }

    .card-button {  
        padding: 1vh auto ;
        border-radius: 5px;
        font-size: var(--subcontent-font-size) !important;
    }
}

