@import url(root-media.css);

@media (max-width: 800px) {
    .card {
        max-height: 62vh;
        height: 60vh;
        min-height: 58vh;
        max-width: 45vw;
        width: 30vw;
        min-width: 28vw;
        border-radius: 15px;
    }

    .card-details {
        padding: 2vh 1vw 2vh 1vw;
        transition: opacity 1s ease-in-out;
    }

    .card-button {  
        padding: 1vh 2vw 1vh 2vw;
        border-radius: 5px;
        margin: 5% 21.5% 0 21.5%;
        font-size: var(--default-font-size) !important;
    }
}

