@media (max-width: 500px) {
    :root {
        /*Font sizes*/
        --default-font-size: 0.8rem;
        --primary-header-font-size: 2.1rem;
        --second-header-font-size: 2rem;
        --third-header-font-size: 1.4rem;
        --subcontent-font-size: 0.6rem;
    }
}