@import url(../utils/root-media.css);

@media (max-width: 480px) {
    #my-skills .content-container {
        flex-direction: column;
    }

    .pl-skills-container {
        box-sizing: border-box;
        max-height: 0;
        height: 0;
        min-height: 50vh;
        max-width: 0;
        width: 0;
        min-width: 250px;
        gap: 0.5vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10% 25% 25% 25%;
        grid-template-areas:
            "header header"
            "box-1 box-4"
            "box-2 box-5"
            "box-3 box-6"
        ;
        margin: 10% 8% 20% 8%;
        background-color: var(--primary-background-color);
        box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.5);
        padding: 0vh 2vw;
    }

    .pl-skills-container .skill {
        padding: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .skill .icon-container {
        flex: 1;
        display: flex;
        background-color: var(--secondary-background-color);
        overflow: hidden;
        align-items: center;
        justify-items: center;
        border-radius: 50%;
        min-width: 5vw;
        min-height: 10vw;
    }

    .icon-container img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .skill p {
        font-size: var(--subcontent-font-size) !important;
        flex: 1;
        text-align: center;
    }

}