@import url(../utils/root-media.css);

@media (max-width: 480px) {
    .content-container .personal-thoughts {
        max-width: 50vw;
        padding: 2vh 2vw 2vh 2vw;
    }
    .personal-thoughts p{
        font-size: var(--default-font-size);
    }

    .personal-thoughts h6{
        font-size: var(--third-header-font-size);
    }

    .hover-tooltip {
        font-size: var(--subcontent-font-size);
        padding: 1vh 1vw;
        border-radius: 5px;
    }

    .content-container .personal-info {
        max-width: 50vw;
        padding: 5vh 2.5vw;
    }

    .personal-info .name {
        font-size: var(--second-header-font-size);
    }

    .personal-info .degree,
    .personal-info .profession 
    {
        font-size: var(--default-font-size);
        padding: 0.25vh 0.25vw;
        margin: 0.25vh 0.25vw;
    }
}
