@import url(../utils/root-media.css);
@import url(../utils/card-media.css);

@media (max-width: 480px) {
    .content-container .filter-option {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: flex-start center;
        padding: 0 0 0 1vh;
        width: 100%;
    }

    .filter-option p {
        flex: 1;
        font-size: var(--default-font-size);
        padding: 1vh;
        max-width: 5%;
        font-style: bold;
    }

    .filter-button-container button {
        flex: 0 0 20vw;
        margin-right: 0.5vw;
        padding: 1vh 0vw;
    }

    .project-gallery {
        margin: 0vh 0.5vw;
        padding: 2.5vh 2.5vw;
        gap: 1vw;
    }

    .project-gallery .card {
        flex: 0 0 35.5vw;
        transition: transform 0.3s ease-in;
    }

    .project .card-button {
        margin: 10% 30% 0 30%;
    }
}