@import url(../utils/root-media.css);

@media (max-width: 500px) {
    #my-skills .content-container {
        flex-direction: column;
    }

    .skill-box {
        height: 100%;
        padding: 0.5em 1em 0.5em 1em;
        margin: 2% 5% 10% 5%;
        box-shadow: 10px 25px 15px 5px rgba(0, 0, 0, 0.5);
    }

    .skill-title-header {
        font-size: var(--subheader-font-size);
        margin: 1vh 0vw;
    }

    .pl-skills-container {
        padding: 0.25em;
        gap: 0.5em 0.25em;
    }

    .pl-skills-container .skill {
        padding: 0.1em;
        height: 15vh;
        max-width: 75%;
    }

    .skill .icon-container {
        margin: 1em;
        height: auto;
        max-width: 100%;
    }

    .skill p {
        font-size: var(--subcontent-font-size);
    }
}