@import url(../body/barrel-layout.css);
@import url(../util/barrel-util.css);

#experience .content-container {
    background-color: var(--primary-background-color);
    border-radius: 25px;
    padding: 5vh 2.5vw;
    box-shadow: 5px 10px 25px 20px rgba(0,0,0,0.5);
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}


.content-container .experience-card {
    flex: 1;
    display: flex;
    width: 100%;
    max-width: 50%;
    
}

.experience-card .img-container {
    width: 35vw;
    height: 80vh;
    border-radius: 15px;
    overflow: hidden;
    anchor-name: --img-ojt-card;
}

.img-container #a2k-ojt-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#a2k-logo {
    position-anchor: --img-ojt-card;
    position: fixed;
    position-area: bottom right;
    translate: -75% -75%;
    width: 100%;
    max-width: 10vw;
    height: 100%;
    max-height: 20vh;
    border-radius: 50%;
    object-fit: cover;
    z-index: 10;
}

.content-container .experience-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
    margin: 0 2vw 0 2vw;
}

.experience-details .work-location{
    flex: 0;
    font-size: var(--second-header-font-size);
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.experience-details .work-position{
    flex: 0;
    font-size: var(--third-header-font-size);
    margin: 0;
    padding: 0;
    border-bottom: 2px solid var(--default-font-color);
}

.experience-details .work-duration {
    flex: 0;
    font-size: var(--subcontent-font-size);
    font-style: italic;
    margin: 0.2em 0em 0.2em 0em;
    padding: 0.2em 0em 0.2em 0em;
}

.summary,
.roles-responsibilities {
    flex: 0;
    margin: 1em 0em 0.1em 0em;
}

.exp-content {
    text-align: justify;
    font-size: var(--default-font-size);
}