@import url(../body/barrel-layout.css);
@import url(../util/root.css);

#my-skills .content-container {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    margin: 0 8vw 2vh 8vw;
}

.skill-box {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em 0.5em 1em;
    background-color: var(--primary-background-color);
    margin: 5% 5% 5% 5%;
    box-shadow: 15px 30px 20px 10px rgba(0,0,0,0.5);
}

.skill-title-header {
    flex: 1;
    font-size: var(--subheader-font-size);
    margin: 1vh 0vw;
    padding: 0;
}

.pl-skills-container {
    flex: 1;
    display: grid; 
    padding: 0.5em;
    gap: 1em 0.5em;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30% 30%;
    grid-template-areas: 
        "box-1 box-4"
        "box-2 box-5"
        "box-3 box-6"
    ;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: auto;
    max-width: 100%;
}

.pl-skills-container .skill {
    display: flex;
    flex-direction: column;
    padding: 0.2em;
    height: 25vh;
    max-width: 100%;
}

.skill .icon-container {
    flex: 2;
    display: block;
    aspect-ratio: 1/1;
    background-color: var(--secondary-background-color);
    overflow: hidden;
    border-radius: 50%;
    margin: 1em;
    height: auto;
    max-width: 100%;
}

.icon-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.skill p {
    flex: 0;
    text-align: center;
    padding: 0;
    margin: 0;
}