@import url(../root.css);
@import url(../design.css);

#my-skills .content-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.pl-skills-container {
    flex: 1;
    display: grid;
    gap: 0.5em;
    grid-template-columns: 49.5% 49.5%;
    grid-template-rows: 3em 6em 6em 6em;
    grid-template-areas: 
        "header header"
        "box-1 box-4"
        "box-2 box-5"
        "box-3 box-6"
    ;
    background-color: var(--primary-background-color);
    box-shadow: 0 0 15px 20px rgba(0,0,0,0.5);
    padding: 1em;
    margin: 2em;    
    max-height: 100%;
    height: 100%;
    min-height: 20em;
    max-width: 100%;
    width: 100%;
    min-width: 30em;
    overflow: hidden;
}

.pl-skills-container .skill {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skill .icon-container {
    flex: 1;
    aspect-ratio: 1/1;
    display: flex;
    background-color: var(--secondary-background-color);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 50%;  
    height: 10vh auto;
    width: 10vw auto;
}

.icon-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.skill p {
    flex: 2;
    padding-left: 1em;
}