@import url(../body/barrel-layout.css);
@import url(../util/barrel-util.css);

#about-me .content-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content-container .personal-thoughts {
    flex: 1;
    max-width: 50vw;
    justify-content: flex-start;
    padding: 2vh 2vw;
    align-items: flex-start;
}

.personal-thoughts h6 {
    flex: 1;
    padding: 0;
    margin: 1vh 0;
}

.personal-thoughts p{
    flex: 1;
}

.hover-tooltip {
    position: absolute;
    bottom: 1%;
    right: 25%;
    left: 25%;
    text-align: center;
    justify-content: center;
    font-size: var(--subcontent-font-size);
    color: var(--subcontent-font-color);
    background-color: var(--darker-background-color);
    padding: 1vh 1vw;
    border-radius: 5px;
    opacity: 0.6;
}

.content-container .personal-info {
    flex: 1;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    padding: 5vh 2.5vw;
}

.personal-info p {
    flex: 1;
    text-align: left;
}

.personal-info .name {
    font-weight: bold;
    font-size: var(--second-header-font-size);
    padding: 0;
    margin: 0;
}

.personal-info .degree,
.personal-info .profession 
{
    font-size: var(--default-font-size);
    font-style: italic;
    padding: 0.25vh 0.25vw;
    margin: 0.25vh 0.25vw;
}