@import url(../design.css);
@import url(../root.css);
@import url(../card.css);

.content-container .experience-card {
    flex: 1;
    background-color: var(--primary-background-color);
    border-radius: 25px;
    padding: 1em;
    box-shadow: 5px 10px 25px 20px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    height: auto;
}

.img-container {
    flex: 0;
    width: 360px;
    height: 480px;
    position: relative;
}

.img-container #a2k-logo {
    width: 100%;
    max-width: 175px;
    height: 100%;
    max-height: 175px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 2%;
    left: 48%;
    z-index: 1;
}

.img-container #a2k-ojt-img {
    object-fit:contain;
    border-radius: 25px;
}

.experience-card .experience-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 2.5% 0 2.5%;
}

.experience-details .work-location{
    flex: 0;
    font-size: var(--second-header-font-size);
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.experience-details .work-position{
    flex: 0;
    font-size: var(--third-header-font-size);
    margin: 0;
    padding: 0;
    border-bottom: 2px solid var(--default-font-color);
}

.experience-details .work-duration {
    flex: 0;
    font-size: var(--subcontent-font-size);
    font-style: italic;
    margin: 0.2em 0em 0.2em 0em;
    padding: 0.2em 0em 0.2em 0em;
}

.summary,
.roles-responsibilities {
    flex: 0;
    margin: 1em 0em 0.1em 0em;
}

.content {
    text-align: justify;
    font-size: var(--default-font-size);
}