@import url(../design.css);
@import url(../root.css);
@import url(../card.css);

#about-me .content-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content-container .personal-thoughts {
    flex: 1;
    max-width: 50%;
    justify-content: flex-start;
    padding: 2em;
    align-items: flex-start;
}

.personal-thoughts p{
    flex: 1;
    font-size: var(--default-font-size);
}

.personal-thoughts h6{
    flex: 1;
    font-size: var(--third-header-font-size);
    padding: 0;
    margin: 0;
}

.hover-tooltip {
    position: absolute;
    bottom: 1%;
    right: 25%;
    left: 25%;
    text-align: center;
    justify-content: center;
    font-size: var(--subcontent-font-size);
    color: var(--subcontent-font-color);
    background-color: var(--darker-background-color);
    padding: 0.2em;
    border-radius: 5px;
    opacity: 0.6;
}

.content-container .personal-info {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5em;
}

.personal-info p {
    flex: 1;
    text-align: right;
}

.personal-info .name {
    font-weight: bold;
    font-size: var(--second-header-font-size);
    padding: 0;
    margin: 0;
}

.personal-info .degree,
.personal-info .profession 
{
    font-size: var(--default-font-size);
    font-style: italic;
    padding: 0.2em;
    margin: 0.2em;
}