@import url(../util/root.css);

footer p {
    margin: 0;
    padding: 0;
    color: var(--subcontent-font-color);
}

.contact-links {
    display: flex;
    flex-direction: row;
    padding: 1em;
    align-content: center;
    justify-content: center;
}

.contact-icons {
    flex: 0;
    text-decoration: none;
    color: var(--default-font-color);
    transition: background-color 0.3s ease-in-out;
    padding: 1em;
    margin: 0 1%;
    border-radius: 50%;
}

.contact-icons i {
    font-size: var(--icon-link-size) !important;
}

.contact-icons:hover {
    background-color: var(--lighter-background-color);
}