@import url(../util/root.css);

/* --- CARD STYLESHEETS --- */

.card {
    max-height: 80vh;
    height: 75vh;
    min-height: 60vh;
    max-width: 30vw;
    width: 25vw;
    min-width: 15vw;
    border-radius: 20px;
    box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    font-style: italic;
}

.card-details {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--card-hover-desc-background-color);
    color: var(--card-font-color);
    padding: 2vh 1vw 2vh 1vw;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: justify;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 10;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    cursor: default;
    max-height: 75%;
    min-height: 75%;
}

.card-details h6 {
    font-size: var(--card-font-header);
}
.card-details p {
    font-size: var(--card-font-size);
}

.card-button {  
    background-color: var(--card-button-background-color);
    color: var(--default-font-color);
    font-size: var(--card-button-font-size);
    padding: 2vh 1vw;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin: 5% 30% 0 30%;
}

.card:hover .card-details{
    opacity: 1;  
}

.card-button:hover {
    background-color: var(--card-button-hover-background-color);
}